USE [SCM]
GO
/****** 对象:  Table [dbo].[BASE_PARAMETER]    脚本日期: 04/17/2013 10:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BASE_PARAMETER](
	[CODE] [varchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[NAME] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[STATUS_FLAG] [int] NULL,
	[NUMBER1] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[NUMBER2] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[NUMBER3] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[NUMBER4] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[NUMBER5] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
 CONSTRAINT [PK_BASE_PARAMETER] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF